/* Home.css */

.container {
    display: flex;
    flex-direction: column;
    height: 87vh; /* Ensure container covers the entire viewport */
  }
  
  /* First Row for the title */
  .title-row {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    padding: 10px 0; /* Add padding for spacing */
  }
  
  /* Second Row for the text section */
  .text-row {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    padding: 10px 0; /* Add padding for spacing */
  }
  
  /* Third Row for the contact form and map */
  .contact-row {
    display: flex;
    justify-content: center; /* Center horizontally */
    padding: 10px 0; /* Add padding for spacing */
  }
  
  /* Container for contact form and map */
  .contact-container {
    width: 100%; /* Adjust the width as needed */
    display: flex;
    justify-content: space-between; /* Place items with space between them */
    margin-top: 10px;
  }
  
  /* Styles for the contact form */
  .contact-form-container {
    width: 48%; /* Adjust the width as needed */
  }
  
  /* Styles for the google map */
  .google-map-container {
    margin-top: 2px;
    width: 48%; /* Adjust the width as needed */
  }
  