.footer {
  position:sticky;
  bottom:0;
  width: 100%;
  height: 3vh;
  background-color: lightgrey;
  color: white;
  text-align: center;
  padding: 10px 0;
  }
  
  .footer-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .footer-list li {
    display: inline-block;
    margin: 0 10px;
    /* font-size: 10px; */
  }
